.controlBar, .statusBar {
    display: flex;
    width: 100%;
}

.controlBar > * {
    flex: 1;
    text-align: center;
}

.statusBar > * {
    flex: 1;
    text-align: center; 
}

.game {
    width: 100%;
}

.cardsContainer {
    position: relative;
}

.cards {  
    width: 100%;
    display: grid;
    gap: 2vmin;
    justify-content: center;
    transition: opacity 0.5s ease;
}

.gameEasy {
    padding: 0 15vw;
    & .cards {
        grid-template-columns: repeat(6, 1fr);
    }

    @media (max-aspect-ratio: 1.32) {
        & .cards {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    @media (max-aspect-ratio: 0.7) {
        & .controlBar {
            flex-direction: column;
        }
    }

    @media (max-aspect-ratio: 0.58) {
        padding: 0 11vw;
        & .cards {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

.gameNormal {
    padding: 0 13vw;
    .cards {
        grid-template-columns: repeat(6, 1fr);
    }

    .positionCard {
        max-width: 20vh;
    }

    @media (max-aspect-ratio: 1) {
    padding: 0 20vw;
    .cards {
        grid-template-columns: repeat(4, 1fr);
    }

    .cards .positionCard:nth-child(17) {
        grid-column: 2;
    }
    
    .cards .positionCard:nth-child(18) {
        grid-column: 3;
    }
    @media (max-aspect-ratio: 0.75) {
        padding: 0 11vw;
    }
}
}

.gameHard {
    padding: 0 15vw;
    .cards {
        grid-template-columns: repeat(8, 1fr);
    }

    @media (max-aspect-ratio: 1.354) {
        padding: 0 11vw;
        .cards {
            grid-template-columns: repeat(6, 1fr);
        }
    }

    @media (max-aspect-ratio: 0.8) {
        & .controlBar {
            flex-direction: column;
        }
    }

    @media (max-aspect-ratio: 0.58) {
        padding: 0 15vw;
        .cards {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}